:root
{
    --main-color : #F0F0F0;
    --secondary-color : #0E08A8;
    --third-color : #2ea811;
    --main-font-family : 'Roboto', sans-serif;
    --min-width : 320px;
    --max-width : 1800px;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
body
{
    font-family: var(--main-font-family);
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
}
header{
    background-color: var(--secondary-color);
    padding: 15px;
}
.header-icon
{
    display: flex;
    align-items: center;
}
.header-icon img
{
    width: 48.5px;
    height: 50px;
}
.header-icon h1
{
    color: var(--main-color);
    font-size: 3rem;
    margin-left: 10px;
}
main
{
    background-color: var(--main-color);
}
.main-content
{
    width: 85%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 90px;
    max-width: 900px;
}
.main-content>h1 
{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: bold;
}
.figure-container
{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
    gap: 15px;
    min-height: 300px;
    grid-template-rows: repeat(auto-fill,minmax(150px,1fr));
    background-color: #d9d7d6;
}
.figure-content
{
    background-color: var(--main-color);
    border-radius: 20px;
}
.figure-content>.figure-image
{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure-image img
{
    width: 80%;
    height: 80%;
}
.figure-image .square-image
{
    width: 60%;
    height: 60%;
}
.figure-text
{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.figure-text p 
{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--main-color);
}
footer
{
    padding: 30px 15px 20px 15px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
}
footer a
{
    color: var(--main-color);
}
.instagram span
{
    display: inline-block;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/600px-Instagram_logo_2016.svg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
}
.gmail span
{
    display: inline-block;
    background-image: url("https://image.flaticon.com/icons/png/512/281/281769.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
}
.contact-list
{
    margin-bottom: 30px;
}
.contact p 
{
    margin-bottom: 20px;
}
.contact-list li 
{
    margin-bottom: 10px;
    padding-left: 10px;
}
.repository a
{
    display: block;
    margin-top: 15px;
}
.repository img
{ 
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 70px;
}